/* .side-nav {
    width: 250px;
    border-right: 1px solid #ddd;
  }
  .custom-link {
    color: white !important; 
    padding: 10px;
    font-size: 1.1rem;
    text-decoration: none;
  }
  
  .custom-link:hover {
    background-color: #333; 
    color: white !important; 
  }
  .side-nav .custom-link .active {
    background-color: #444; 
    font-weight: bold;      
  } */

  .sidebar {
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
  }
  .sidebar.show {
    transform: translateX(0);
  }
  
  .sidebar.hide {
    transform: translateX(-100%);
  }
  
  .sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 245px;
    z-index: 1050;
  }
  .nav-link {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
  
  .nav-link.active {
    background-color: #0d6efd;
    color: white;
  }
  
  .nav-link .bi {
    font-size: 1.25rem;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu-dark .dropdown-item:hover {
    background-color: #495057;
  }